* {
    box-sizing: border-box;
}
.body {
    background-color: black;
}
a {
    text-decoration: none;
    color: white;
    list-style-type: none;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hija-buscador {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 3
}
.hija-nav {
    order: 2
}

.hija-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    order: 1;
}
.barra-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0;
    gap: 20px;

}
.logo {
    width: 100px;
    align-self: flex-start;
    margin-left: 40px;
    margin-top: 10px;
}
.buscador {
    color: white;
}
.item {
    font-size: 25px;
}
.barra_busc {
    width:100%; 
    display: flex;
    
}
.elemento {
    color: white;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.logo-footer {
    width: 500px;
}
h2 {
    color: white;
}

.titulo-genero{
    color: white;
    margin: 10px;
    text-align: center;

}


.genero{
    text-align: left;
    margin: 10px;
    background-color: #8e1b1bcb;
    padding: 15px;
    width: 45%;
    height: 70px;
    border-radius: 20PX;
    list-style-type: none;
    margin-left: 10px;
    margin-bottom: 5px;

}

.genero-peli{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 80px;
    background-color: #8827277b;
    border-radius: 20px;
    width: 43%;


}
.main-genero{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 10px;
    
   
}

.bloque-genero{
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.banner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    
}
.banner-foto{
    border-radius: 20px;
    width:90%;
    height: 380px;
    border-style: solid;
    border-width: 5px;
    border-color: #8e1b1bcb;

    
}
.elemento {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* esto hace que los elementos se pongan uno abajo del otro*/
    max-width: 380px;
    padding: 0;
    margin: 20px 0px;
    border: 3px solid white;
    background-color: black;

}
.img-producto {
    width: 100%;
}
/*
.vermas {
    background-color: #444;
    padding: 5px;
    width: 120px;
    height: 30px;
    text-align: center;
}
*/
.pelis-series {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2%; /* 0 para arriba y abajo*/
    margin: 2% 5%;
    border: 1px solid white;
    background-color: #8827277b;
}
.titulo-seccion {
    width: 100%; /* hice que ocupe el 100% de su ancho entonces, lo manda para arriba -> antes era como una columna */
}
.search {
    display: none;
}
.sub-elemento {
    padding-left: 15px;
}

   
.portadapadre{
       padding: 0px 50px;
       display: flex;
       flex-direction: column;
   
   }
   
.titulo-dg{
       color: white;
       font-size: 45px;
       margin-bottom: 0px;
       margin-top: 50px;
   }
   
.sub-dg{
       color: grey;
       margin-top: 7px;
   }
.trailer-dg{
       padding-top: 30px;
       width: 40%;
 
   }
   
.redondeado-dg{
           text-align: center;
           color: white;
           width: 100px; /* Ancho del elemento */
           height: 25px; /* Alto del elemento */
           border: 2px solid grey; 
           border-radius: 20px;
           padding: 2px;
   }
   
.generos{
       display: flex;
       flex-wrap: wrap;
       padding-top: 30px;
       width: 100%;
       justify-content: space-evenly;
       
      
   }
   
.trailerformas {
       display: flex;
       flex-wrap: wrap;
   
   }
   
.heart{
       margin-top: 10px;
       margin-left: 30px;
   }
   
.fav{
       color: white;
       margin-top: 10px;
       margin-left: 10px;
   }
   
.rating{
       margin-top: 10px;
       margin-left: 0;
       padding-left:30px;
   }
   
.sinopsis-dg{
       color: white;
       margin-left:50px ;
       font-size: 30px;
       margin-bottom: 0;
       }
       
   
.generosmasinop{
       display: flex;
       flex-wrap: wrap;
       width: 60%;
   }
   
   .sin-dg{
       display: flex;
       flex-wrap: wrap;
   }
   
   .directores-dg{
       display: flex;
       flex-wrap: wrap;
       color: grey;
       margin-left:50px ;
       justify-content: center;
   }
   
   .pelis-series-dg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2%; /* 0 para arriba y abajo*/
    margin: 2%;
    border: 1px solid rgb(0, 0, 0);
    background-color: #0000007b;
    }
h3{
    margin-left: 10px;
}
.fecha-dg{
    margin-left: 10px;
}